{% extends 'products.html' %}

{% block cart %}

<div class="col-sm-3">
  <div class="cart card text-center sticky-top">
    <div class="card-header">
      Cart
    </div>
    <div class="card-body cart-body">
      <h5 class="card-title empty-cart-message">Oops... There's nothing in your cart.</h5>
      <p class="card-text empty-cart-message">Please add items to your cart from the selection on the left.</p>

      <p>Cart Total: $<span id="amount-total">0.00</span></p>
      
      <form id="payment-form">
      
        <div id="card-container"></div>
      
        <button class="btn btn-outline-primary d-grid gap-2 col-10 mx-auto" id="card-button" type="button">Pay</button>
      
      </form>
    </div>
  </div>
</div>

{% endblock %}