{% extends 'products.html' %}

{% block cart %}

<div class="col-sm-3">
  <div class="cart card text-center sticky-top">
    <div class="card-header">
      Cart
    </div>
    <div class="card-body" id="cart-body">
      <div>
        <div class="h-100 p-5 bg-light border rounded-3">
          <h6 class="text-danger fw-bold">Sandbox Cards Only</h6>
          <p>This credit card form is setup for use with sandbox card numbers only. Real card numbers will not work. You can find the accepted card numbers through the button below.</p>
          <a href="https://developer.squareup.com/docs/testing/test-values" class="btn btn-outline-secondary">Sandbox Numbers</a>
        </div>
      </div>
      <form id="payment-form">
      
        <div id="card-container"></div>
      
        <button class="btn btn-outline-primary d-grid gap-2 col-10 mx-auto" id="card-button" type="button">Pay</button>
      
      </form>

      <p class="card-text" id="cart-total">Cart Total: $<span id="amount-total">0.00</span></p>

      <hr id="cart-divider">

      <h5 class="card-title empty-cart-message">Oops... There's nothing in your cart.</h5>
      <p class="card-text empty-cart-message">Please add items to your cart from the selection on the left.</p>
    </div>
  </div>
</div>

{% endblock %}